*{
    margin: 0;
    padding: 0;
    border: 0;

}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

body{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}
h3.identificaciontitular{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
body section form label{
    display: block;
    margin: 5px;
}

section{
    border: 2px solid #000;
    border-radius: 10px 50px 50px 10px;
    display:inline-block;
    text-align: left;
    margin: 20px;
    padding: 10px;
    box-shadow: rgb(24, 24, 24) 5px 5px;
}

aside{
    border: 2px solid #000;
    border-radius: 50px 10px 50px 10px;
    display: inline-block;
    text-align: left;
    margin: 20px;
    padding: 10px;
    box-shadow: rgb(24, 24, 24) 5px 5px;
}

#botonera{
    margin: 10px;
    padding: 10px;
}
#enviarform{
    transition: .3s;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}
#enviarform:hover{
    background-color: aquamarine;
}
#borrarform{
    transition: .3;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}
#borrarform:hover{
    background-color: bisque;
}